@import url('https://fonts.google.com/specimen/Ranchers#standard-styles');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  text-align: center;
}

.box{
 width : 300px;
 height: 300px;
margin-top: 10%;
margin-left: 10%;
}
h1{
  font-size: 50px;
  color: white;
  font-family: 'Josefin Sans', cursive;
}

.click{
  font-size: 20px;
  font-family: 'Ranchers', cursive;
  color: white;
}
